*{
  margin: 0px;
  padding: 0px;
} 
a{
  text-decoration: none;
  color: black;
}
body{
  background:url("./images/Practical-Experience-Routes-649356164-1920x890.jpg")no-repeat;
  background-attachment: fixed;
  min-height:   100vh;
  background-size: cover;
}


h1{ margin-top: 30px;
    text-align: center;
    color: rgb(150, 121, 25);
    font-size: 40px;
    text-shadow: 2px 2px 4px rgb(10, 10, 10);
    margin-bottom: 25px;
}
h2{
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
  color: rgb(2, 2, 2);
}



/* ----------------------- start style of section of about us ---------------------- */

.hero{
 
  position: relative;
  width: 70%;
  margin: 0 auto;
  border: 5px;
  margin-bottom: 100px;
  border-radius: 30px;
}
.hero img{
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.hero .reserve{
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: yellow;
  text-align: center;
  width: 15%;
  padding: 10px;
  transform: translateX(-50%);
  bottom: 10%;
  left: 50%;
  position: absolute;
}

.sectionAboutUs{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  
}


.sectionAboutUs .cars1,.sectionAboutUs .cars2,.sectionAboutUs .aboutus{
width: 30%;
background-color: ghostwhite;
box-shadow: rgb(2, 2, 2) 2px 2px 4px;
text-align: center;
box-shadow: rgb(241, 205, 45);

}
.sectionAboutUs .cars1,.sectionAboutUs .cars2,.sectionAboutUs .aboutus{
  box-shadow: rgb(238, 238, 5);
}





/* ----------------------- end style of section of about us ---------------------- */


/* ----------------------- start style of section of gallery ---------------------- */
.Gallerie{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
 
}
.Gallerie .card{
width: 30%;
height: 400px;
background-color: rgb(255, 255, 255);
border: 2px solid rgb(231, 210, 15);
box-shadow: 2px 2px 4px rgb(209, 195, 70);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: 10px;
}

::-webkit-scrollbar{
  display: none;
}
.card img{
  width: 60%;
  height: 60%;
}
.Gallerie .card h4{
  background-color: rgb(255, 218, 10);
}



/* ----------------------- end style of section of gallerie ---------------------- */



nav img {
    
    height: 30px;
    width: 100px;
    margin-left: 30px;
    margin-top: 10px;
   
  }  
  nav {
    display: flex;
    background-color: rgb(175, 165, 22);
      align-items: center;
  }
  ul{
    justify-self: center;
  }
  ul li{
    margin-left: 100px;
  }

  ul li a {
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
 
  .icons img {
    width: 20px;
    height:20px ;
    margin-left: 20px;
 }
 footer .icons{
   display: flex;
   justify-content: center;
   margin-top: 20px; 
 }
 footer{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 600px;
   color: rgb(255, 255, 255);
   margin-bottom:none;
 }
  .copyrigtht {
   width: 15px;
 }
   
    




  
  

    


